### First Import all liberary we used in Data Analysics

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load The data Set in anyformat we used

In [4]:
data=pd.read_csv('movie.csv')

### Check Rows and Column and Anything

In [5]:
data.head(4)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,2343110,28341469.0
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,1620367,134966411.0
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,2303232,534858444.0
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0

In [6]:
data.shape

(1000, 11)

In [7]:
data.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Meta_score', 'Director', 'Star1', 'No_of_Votes',
       'Gross'],
      dtype='object')

In [8]:
data.dtypes

Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Meta_score       float64
Director          object
Star1             object
No_of_Votes        int64
Gross            float64
dtype: object

In [9]:
data.isnull().sum()

Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Meta_score       157
Director           0
Star1              0
No_of_Votes        0
Gross            169
dtype: int64

In [10]:
data.nunique().sum()

4567

In [11]:
data.nunique()

Series_Title     999
Released_Year    100
Certificate       16
Runtime          140
Genre            202
IMDB_Rating       17
Meta_score        63
Director         548
Star1            660
No_of_Votes      999
Gross            823
dtype: int64

In [12]:
data.Released_Year.unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Star1          1000 non-null   object
 9   No_of_Votes    1000 non-null   int64
 10  Gross          831 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 86.1+ KB

In [14]:
data[data.Released_Year=='PG']

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,No_of_Votes,Gross
966,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,77.0,Ron Howard,Tom Hanks,269197,173837933.0

In [15]:
data.loc[966,'Released_Year'] = 1970

In [16]:
data.Released_Year = data.Released_Year.astype('int')

In [17]:
data.Released_Year.head(4)

0    1994
1    1972
2    2008
3    1974
Name: Released_Year, dtype: int32

In [18]:
data.Runtime = data.Runtime.str.replace(" min","").astype(int)

In [19]:
data.Runtime

0      142
1      175
2      152
3      202
4       96
      ...
995    115
996    201
997    118
998     97
999     86
Name: Runtime, Length: 1000, dtype: int32

In [20]:
data.dropna(inplace=True)

In [21]:
data

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142,Drama,9.3,80.0,Frank Darabont,Tim Robbins,2343110,28341469.0
1,The Godfather,1972,A,175,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,1620367,134966411.0
2,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,2303232,534858444.0
3,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0
4,12 Angry Men,1957,U,96,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...
990,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,77.0,Sergio Leone,Rod Steiger,30144,696690.0
991,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,50.0,Brian G. Hutton,Clint Eastwood,45338,1378435.0
992,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,65.0,Wolfgang Reitherman,Phil Harris,166409,141843612.0
994,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,96.0,Richard Lester,John Lennon,40351,13780024.0
997,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,43374,30500000.0

In [22]:
data.isnull().sum()

Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Meta_score       0
Director         0
Star1            0
No_of_Votes      0
Gross            0
dtype: int64

In [23]:
data.drop_duplicates(inplace=True)

In [24]:
data.drop_duplicates().sum

<bound method DataFrame.sum of                  Series_Title  Released_Year Certificate  Runtime  \
0    The Shawshank Redemption           1994           A      142
1               The Godfather           1972           A      175
2             The Dark Knight           2008          UA      152
3      The Godfather: Part II           1974           A      202
4                12 Angry Men           1957           U       96
..                        ...            ...         ...      ...
990              Giù la testa           1971          PG      157
991            Kelly's Heroes           1970          GP      144
992           The Jungle Book           1967           U       78
994        A Hard Day's Night           1964           U       87
997     From Here to Eternity           1953      Passed      118

                            Genre  IMDB_Rating  Meta_score  \
0                           Drama          9.3        80.0
1                    Crime, Drama          9.2       100.0
2            Action, Crime, Drama          9.0        84.0
3                    Crime, Drama          9.0        90.0
4                    Crime, Drama          9.0        96.0
..                            ...          ...         ...
990           Drama, War, Western          7.6        77.0
991        Adventure, Comedy, War          7.6        50.0
992  Animation, Adventure, Family          7.6        65.0
994        Comedy, Music, Musical          7.6        96.0
997           Drama, Romance, War          7.6        85.0

                 Director           Star1  No_of_Votes        Gross
0          Frank Darabont     Tim Robbins      2343110   28341469.0
1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0
2       Christopher Nolan  Christian Bale      2303232  534858444.0
3    Francis Ford Coppola       Al Pacino      1129952   57300000.0
4            Sidney Lumet     Henry Fonda       689845    4360000.0
..                    ...             ...          ...          ...
990          Sergio Leone     Rod Steiger        30144     696690.0
991       Brian G. Hutton  Clint Eastwood        45338    1378435.0
992   Wolfgang Reitherman     Phil Harris       166409  141843612.0
994        Richard Lester     John Lennon        40351   13780024.0
997        Fred Zinnemann  Burt Lancaster        43374   30500000.0

[714 rows x 11 columns]>

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   714 non-null    object
 1   Released_Year  714 non-null    int32
 2   Certificate    714 non-null    object
 3   Runtime        714 non-null    int32
 4   Genre          714 non-null    object
 5   IMDB_Rating    714 non-null    float64
 6   Meta_score     714 non-null    float64
 7   Director       714 non-null    object
 8   Star1          714 non-null    object
 9   No_of_Votes    714 non-null    int64
 10  Gross          714 non-null    float64
dtypes: float64(3), int32(2), int64(1), object(5)
memory usage: 61.4+ KB

In [26]:
data.shape

(714, 11)

In [27]:
data.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Meta_score', 'Director', 'Star1', 'No_of_Votes',
       'Gross'],
      dtype='object')

In [28]:
data

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142,Drama,9.3,80.0,Frank Darabont,Tim Robbins,2343110,28341469.0
1,The Godfather,1972,A,175,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,1620367,134966411.0
2,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,2303232,534858444.0
3,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0
4,12 Angry Men,1957,U,96,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...
990,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,77.0,Sergio Leone,Rod Steiger,30144,696690.0
991,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,50.0,Brian G. Hutton,Clint Eastwood,45338,1378435.0
992,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,65.0,Wolfgang Reitherman,Phil Harris,166409,141843612.0
994,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,96.0,Richard Lester,John Lennon,40351,13780024.0
997,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,43374,30500000.0

In [29]:
data[(data.IMDB_Rating>=1) & (data.Genre=='Drama')].head(4)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142,Drama,9.3,80.0,Frank Darabont,Tim Robbins,2343110,28341469.0
9,Fight Club,1999,A,139,Drama,8.8,66.0,David Fincher,Brad Pitt,1854740,37030102.0
17,One Flew Over the Cuckoo's Nest,1975,A,133,Drama,8.7,83.0,Milos Forman,Jack Nicholson,918088,112000000.0
40,American History X,1998,R,119,Drama,8.5,62.0,Tony Kaye,Edward Norton,1034705,6719864.0

In [30]:
data[['IMDB_Rating','Released_Year']].head(5)

   IMDB_Rating  Released_Year
0          9.3           1994
1          9.2           1972
2          9.0           2008
3          9.0           1974
4          9.0           1957

In [37]:
data.isnull().sum()/data.shape[0]*100

Series_Title     0.0
Released_Year    0.0
Certificate      0.0
Runtime          0.0
Genre            0.0
IMDB_Rating      0.0
Meta_score       0.0
Director         0.0
Star1            0.0
No_of_Votes      0.0
Gross            0.0
dtype: float64

In [40]:
data.duplicated().sum()

0

In [41]:
data.nunique().sum()

3476

In [42]:
data.describe(include='object')

,Series_Title,Certificate,Genre,Director,Star1
count,714,714,714,714,714
unique,714,12,172,402,472
top,The Shawshank Redemption,U,Drama,Steven Spielberg,Tom Hanks
freq,1,183,58,13,12